
Hello ${USER}!
How do you like it in "${PWD}"?

Environmentesque Data:

ENV_FILE_COMMENT == '${ENV_FILE_COMMENT}'
    ENV_FILE_VAR == '${ENV_FILE_VAR}'
     CLI_ENV_VAR == '${CLI_ENV_VAR}'
         CLI_VAR == '${CLI_VAR}'

INI Data:

               POSIX == ${POSIX}                     || numbers_one == ${numbers_one}
          global_ini == ${global_ini}                         || numbers_two == ${numbers_two}
           words_all == "${words_all}" || numbers_three == ${numbers_three}
words_system_default == "${words_system_default}"                || numbers_four == "${numbers_four}"

