
Hello ${USER}!
How do you like it in "${PWD}"?

Environmentesque Data:

ENV_FILE_COMMENT == '{{ENV_FILE_COMMENT}}'
    ENV_FILE_VAR == '{{ENV_FILE_VAR}}'
     CLI_ENV_VAR == '{{CLI_ENV_VAR}}'
         CLI_VAR == '{{CLI_VAR}}'

INI Data:

               POSIX == {{POSIX}}                     || numbers.one == {{numbers.one}}
          global.ini == {{global.ini}}                         || numbers.two == {{numbers.two}}
           words.all == "{{words.all}}" || numbers.three == {{numbers.three}}
words.system_default == "{{words.system_default}}"                || numbers.four == "{{numbers.four}}"

