Hello {{USER}}!
How do you like it in "{{PWD}}"?

  ENV_FILE_COMMENT == '{{ENV_FILE_COMMENT}}'
      ENV_FILE_VAR == '{{ENV_FILE_VAR}}'
       CLI_ENV_VAR == '{{CLI_ENV_VAR}}'
           CLI_VAR == '{{CLI_VAR}}'
           boolean == {{boolean}}
     one.two.three == {{one.two.three}}
       numbers.two == {{numbers.two}}
               all =={{# all}} {{.}}{{/ all}}
         words.all == {{words.all}}
             POSIX == {{POSIX}}
DEFAULT.global_ini == {{DEFAULT.global_ini}}

